test.ipynb
ner_uz_hackathon_participant/data/*.json
ner_uz_hackathon_participant/data/*.jsonl
.venv/
.DS_Store
*/__pycache__/
.ipynb_checkpoints/
data/augmentation/script*.jsonl
data/augmentation/script*.json
data/.md